@import '../../styles/colors';

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
  label {
    font-size: 11px;
    color: $header;
    margin-bottom: 7px;
  }
  input {
    border-radius: 3px;
    padding: 10px 8px;
    width: 100%;
    height: 45px;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #d6d9d9;
    }
  }
}
